.music {
  display: flex;
  justify-content: center;
  background-color: #030639;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    width: 1440px;
    list-style-type: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin: 20px 30px;
    width: 180px;
    border: solid 3px black;
    box-sizing: border-box;
  }

  &__item:hover {
    box-shadow: 0 0 10px 5px lightgray;
  }
}

@media screen and (max-width: 320px) {
  .music {

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .music {

    &__list {
      width: 768px;
      margin: 20px 24px;
    }

    &__item {
      margin: 20px 30px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .music {

    &__list {
      width: 1024px;
      margin: 20px 32px;
    }

    &__item {
      margin: 20px 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .music {

    &__list {
      width: 1200px;
      margin: 20px 50px;
    }

    &__item {
      margin: 20px 20px;
    }
  }
}
